
<%
var logoSrc = "http://localhost:3000/lib/img/logo.png";
%>

<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="icon" href="http://localhost:3000/lib/img/fevicon.png" type="image/gif" sizes="16x16">

	<link rel="stylesheet" type="text/css" href="http://localhost:3000/lib/css/bootstrap.min.css">
	

	<link rel="stylesheet" type="text/css" href="http://localhost:3000/lib/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/lib/css/jquery-ui.theme.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/lib/css/jquery-ui.structure.css">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="http://localhost:3000/lib/css/style.css">



	
<body>



<div class="container-fluid bg-light">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-12 justify-content-lg-start d-flex justify-content-center"><a href="index.php"><img src=<%=logoSrc%> ></a>
            </div>

            <div class="col-lg-6 col-12 align-self-lg-center">

              <form action="search_result.php">
                <div class="form-row align-items-center">
                  <div class="col-9">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
                    </div>
                  </div>

                  <div class="col-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </div>
              </form> 
            </div>
            <div class="col-lg-1  col-3 offset-1 mt-3 mb-3 mb-lg-0 mt-lg-0 offset-lg-0 d-flex justify-content-center align-self-lg-center"><a href="" class="btn btn-success">Sign Up
          </a> 
        </div>

          <div class=" col-lg-2 col-xl-1 col-3 mt-3 mb-3 mb-lg-0 mt-lg-0 d-flex justify-content-center align-self-lg-center"><a href="contact.php" class="btn btn-info">Need Help?</a></div>


          <div class=" col-lg-1 col-3 mt-3 mb-3 mb-lg-0 mt-lg-0 d-flex justify-content-center align-self-lg-center">
            <a href="" class="btn btn-danger">
              Sign In
             
            </a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>






