<!DOCTYPE html>
<html>
<head>
	<title>Umart</title>

	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css">


	<link rel="stylesheet" type="text/css" href="assets/jquery-ui/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="assets/jquery-ui/jquery-ui.theme.css">
	<link rel="stylesheet" type="text/css" href="assets/jquery-ui/jquery-ui.structure.css">


	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	
<body>
	
	
	
	<h1>index page</h1>




	<script type="text/javascript" src="assets/jquery/jquery-3.3.1.js"></script>

	<script type="text/javascript" src="assets/jquery-ui/jquery-ui.js"></script>

	<script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>

	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>